/* Variáveis */
:root {
    --corCabecalho: #bb54ff31;
    --corBotao: #d094f7;
    --corEscrita: #000000;
    --corSite: #d1d1d1;
    --corSiteBody: #ab8f80;
}

/* Aplica ao site todo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
body {
    background-color: var(--corSite);
}

.cabecalho {
    background-color: var(--corCabecalho);
    color: var(--corEscrita);
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}

.tituloSite {
    margin-left: 16px;
}

nav {
    position: relative;
    padding: 1rem;
    width: 170px;
    background-color: var(--corBotao);
    display: flex;
    justify-content: center;
}

.navegacaointerna,
.listasgerais {
    list-style: none;
}

.assuntosinternos {
    list-style: none;
}

.assuntosinternos li a {
    color: white;
    font-size: 1rem;
    margin: 10px 0;
}

.voltar {
    cursor: pointer;
    display: block;
    width: 45px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    width: 90%;
    font-size: 30px;
}

/* Corpo do site */
.bodyImage {
    display: flex;
    justify-content: center;
}

.textoImagem {
    display: flex;
    justify-content: center;
}

.corpoprincipal {
    margin-left: 9%;
    margin-right: 9%;
    background-color: var(--corSiteBody);
}

.textoprincipal {
    color: var(--corEscrita);
    margin-bottom: 1rem;
}

p {
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
}

.listasgerais {
    text-align: center;
}

.textohorarios {
    margin-bottom: 0;
}

/* rodapé do site */

.rodape {
    background-color: var(--corCabecalho);
    color: var(--corEscrita);
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.rodape a {
    font-size: 2em;
    text-decoration: none;
    color: var(--corEscrita);
}